* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #343541;
  color: #fff;
}

.container {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 40px;
}

.title {
  font-size: 2rem;
}

.input {
  width: 90%;
  padding: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.div-form {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  background-color: #40414f;
  border-radius: 5px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.container-response {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.9rem 1rem;
  gap: 30px;
  line-height: 20px;
  background-color: #444654;
  width: 60%;
  border-radius: 5px;
}
.container-response p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  color: #ffffffea;
}

img {
  width: 30px;
}

.help {
  font-size: 11px;
  font-weight: 300;
  margin-top: 10px;
  color: #ffffff8e;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff8e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms background-color;
  padding: 0.6rem;
  border-radius: 5px;
}

button:hover {
  background-color: #a5a5a557;
}
